nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.imgtint {
  filter: brightness(50%);
}

.btn-large {
  padding-bottom: 15px;
}

.goldtxt {
  color: #D9B310;
}
.goldbg{
  background-color: #D9B310;
}
.goldbg:hover { 
  background-color: rgb(203, 168, 16);
}
.bluetxt {
  color: #0B3C5D;
}
#bluetxt {
  color: #0B3C5D;
}
.bluebg{
  background-color: #0B3C5D;
}
.bluebg:hover { 
  background-color: rgb(10, 68, 105);
}
.blacktxt {
  color: #1D2731;
}
.blackbg{
  background-color: #1D2731;
}
.blackbg:hover{
  background-color: rgb(36, 47, 59);
}
.b1 {
  margin-right: 4px;
}
.b2 {
  margin-left: 4px;
}

#portfolio {
  padding-bottom: 15px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #D9B310;
}

#goldcard {
  border-top: 1px solid #0B3C5D;
}

#blackcard,
#bluecard {
  border-top: 1px solid #D9B310;
}

ul .double{
  width:100%;
  margin:0px 0px 5px 0px;
  overflow:hidden;
}

.double li  { 
  width:50%;
  float:left;
  display:inline;
} 


.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  background-color: rgba(0, 106, 255, 0.3);

}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 1200px) {
  .header {
    font-size: 1.5rem;
  
  }
  .mainheader {
    font-size: 3rem;
  }
}

@media only screen and (max-width : 992px) {
  .header {
    font-size: 1.4rem;

  }
  .mainheader {
    font-size: 2.7rem;
  }
  .parallax-container .section {
    position: absolute;
    top: 30%;
  }

  #index-banner .section {
    top: -5%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: -5%;
  }
  
  .mainheader {
    font-size: 2rem;
  }
}



footer.page-footer {
  margin: 0;
}
